/*COLORES*/
/*TIPO DE LETRA*/
.header {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between; }
  .header__navegacion li {
    display: inline;
    padding: 30px; }
  .header__logo {
    height: 50px;
    width: 50px; }
  .header a {
    text-decoration: none;
    color: black; }
    .header a:hover {
      color: black;
      transform: scale(1.3); }

.navbar {
  background-color: white;
  padding: 10px;
  font-family: "Abel", sans-serif;
  font-size: x-large;
  justify-content: space-around; }

/* FOOTER */
.footer {
  padding: 20px 0px;
  background-color: #dbd5d5; }
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    max-width: 1200px;
    margin-top: 5px; }
    .footer__container .container__nosotros {
      display: flex;
      flex-direction: column;
      font-family: "Abel", sans-serif;
      max-width: 300px;
      text-align: center; }
      .footer__container .container__nosotros h2 {
        font-size: 25px;
        font-weight: bold; }
      .footer__container .container__nosotros p {
        color: #7a7a7a;
        font-size: 15px; }
    .footer__container .container__redes {
      display: flex;
      flex-direction: column; }
      .footer__container .container__redes h2 {
        font-family: "Abel", sans-serif;
        font-size: 20px; }
      .footer__container .container__redes div {
        display: flex;
        gap: 10px;
        justify-content: center; }
        .footer__container .container__redes div img {
          width: 25px;
          height: 25px; }
  .footer__derechos {
    font-family: "Abel", sans-serif;
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px; }
    .footer__derechos p {
      margin-top: 20px;
      color: #7a7a7a; }

* {
  margin: 0;
  padding: 0; }

/*MIXIN*/
/*INDEX -PORTADA*/
.portada {
  display: flex;
  flex-direction: column;
  background-image: url(../recursos/polar_bear_and_baby-wild_animal_desktop_wallpaper_1366x768.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 37.5rem; }
  .portada__contenido {
    display: flex;
    flex-direction: column;
    padding: 90px; }
    .portada__contenido h2 {
      font-family: "Abel", sans-serif;
      color: #353535;
      font-size: 2rem;
      letter-spacing: 2px; }
    .portada__contenido p {
      font-family: "Abel", sans-serif;
      background-color: rgba(0, 0, 0, 0.281);
      width: 300px;
      height: 100px;
      color: black; }
    .portada__contenido .boton {
      font-family: "Abel", sans-serif;
      font-weight: bold;
      font-size: 24px;
      width: 150px;
      border-radius: 12px;
      background-color: black;
      color: white; }
      .portada__contenido .boton:hover {
        transform: scale(1.3); }
  .portada__titulo {
    font-family: "Abel", sans-serif;
    color: black;
    font-size: 5.265rem;
    text-align: left; }

/*INDEX-ACTUALIDAD*/
.actualidad {
  display: flex;
  flex-direction: column; }
  .actualidad__titulo {
    font-family: "Abel", sans-serif;
    color: grey;
    font-size: 50px;
    text-align: center;
    letter-spacing: 24px; }
  .actualidad__contenido {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1200px;
    margin: 1rem; }
    .actualidad__contenido__parrafo {
      width: 28.5rem;
      height: 28.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .actualidad__contenido__parrafo p {
        color: black;
        font-family: "Abel", sans-serif;
        font-size: 30px;
        text-align: justify; }
      .actualidad__contenido__parrafo .boton {
        font-family: "Abel", sans-serif;
        font-weight: bold;
        font-size: 24px;
        width: 150px;
        border-radius: 12px;
        background-color: black;
        color: white; }
        .actualidad__contenido__parrafo .boton:hover {
          transform: scale(1.3); }
    .actualidad__contenido__imagen img {
      width: 28.5rem;
      height: 28.5rem; }

/*INDEX-NOTICIAS*/
.noticias {
  display: flex;
  flex-direction: column; }
  .noticias__titulo {
    font-family: "Abel", sans-serif;
    color: white;
    font-size: 70px;
    text-align: center;
    background-color: black;
    font-weight: bold;
    padding: 20px; }
  .noticias__contenido {
    display: flex;
    justify-content: space-around;
    margin: 40px; }
    .noticias__contenido img {
      width: 20rem;
      height: 20rem; }
      .noticias__contenido img:hover {
        transform: scale(1.3); }

/* ANIMALES- TOPANIMALES*/
.mainAnimales {
  background-color: #cdc9c9;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.topAnimales {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .topAnimales h1 {
    font-family: "Abel", sans-serif;
    color: black;
    font-size: 70px;
    text-align: center; }
  .topAnimales div {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    align-items: center; }
    .topAnimales div h2 {
      font-family: "Abel", sans-serif;
      letter-spacing: 15px; }
    .topAnimales div ol {
      font-family: "Abel", sans-serif;
      font-size: 25px;
      text-decoration: underline; }
      .topAnimales div ol li:hover {
        transform: scale(1.3); }

/*ANIMALES-DESTACADO*/
.destacado {
  display: flex;
  flex-direction: column; }
  .destacado h2 {
    font-family: "Abel", sans-serif;
    color: black;
    font-size: 50px;
    font-weight: bolder;
    text-align: center; }
    .destacado h2:hover {
      transform: scale(1.5); }
  .destacado__contenido {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1200px;
    margin: 1rem;
    align-items: center; }
    .destacado__contenido__parrafo {
      display: flex;
      flex-direction: column;
      width: 28rem;
      height: 28rem;
      justify-content: center;
      align-items: center; }
      .destacado__contenido__parrafo p {
        color: black;
        font-family: "Abel", sans-serif;
        font-size: 25px;
        text-align: justify; }
      .destacado__contenido__parrafo .boton {
        font-family: "Abel", sans-serif;
        font-weight: bold;
        font-size: 24px;
        width: 150px;
        border-radius: 12px;
        background-color: black;
        color: white; }
        .destacado__contenido__parrafo .boton:hover {
          transform: scale(1.3); }
    .destacado__contenido__imagen img {
      width: 28rem;
      height: 28rem; }

.videos {
  display: flex;
  flex-direction: column; }
  .videos__titulo {
    font-family: "Abel", sans-serif;
    color: black;
    font-size: 40px;
    margin-left: 2rem;
    letter-spacing: 15px; }
  .videos div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem; }

/*HISTORIA*/
.historia {
  background-color: black; }
  .historia h1 {
    font-family: "Abel", sans-serif;
    color: white;
    font-size: 60px;
    text-align: center; }
  .historia__imagen1 {
    background-image: url(../recursos/450_1000.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .historia__parrafo1 {
    font-family: "Abel", sans-serif;
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center; }
  .historia__imagen2 {
    background-image: url(../recursos/ngsf000003_190803_100592.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .historia__parrafo2 {
    font-family: "Abel", sans-serif;
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center; }

/*GALERIA*/
.galeria img {
  height: 600px; }

.galeria__titulo h1 {
  font-family: "Abel", sans-serif;
  color: black;
  font-size: 40px;
  text-align: center; }

/*CONTACTO*/
.contacto__introduccion__titulo {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .contacto__introduccion__titulo h1 {
    font-family: "Abel", sans-serif;
    color: black;
    font-size: 70px;
    font-weight: bolder;
    text-align: center; }
  .contacto__introduccion__titulo p {
    font-family: "Abel", sans-serif;
    color: black;
    font-size: 30px;
    text-align: center; }

.contacto__formulario {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .contacto__formulario__form {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .contacto__formulario__form .boton {
      font-family: "Abel", sans-serif;
      font-weight: bold;
      font-size: 24px;
      width: 150px;
      border-radius: 12px;
      background-color: black;
      color: white; }
      .contacto__formulario__form .boton:hover {
        transform: scale(1.3); }
  .contacto__formulario__maps {
    margin: 20px; }

/*CELULAR*/
@media (min-width: 320px) and (max-width: 540px) {
  /*INDEX*/
  .portada {
    background-size: contain;
    background-attachment: scroll;
    height: 30rem; }
    .portada__contenido {
      display: none; }
    .portada__titulo {
      font-size: 3.5rem;
      text-align: center; }
  .noticias {
    display: none; }
  .actualidad__contenido {
    max-width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto; }
    .actualidad__contenido__parrafo {
      width: 20rem;
      height: 20rem; }
      .actualidad__contenido__parrafo p {
        font-size: 20px; }
      .actualidad__contenido__parrafo .boton:hover {
        transform: scale(0); }
    .actualidad__contenido__imagen img {
      width: 20rem;
      height: 20rem; }
  .actualidad__titulo {
    font-family: "Abel", sans-serif;
    text-align: center;
    font-size: 30px;
    letter-spacing: 20px;
    color: grey; }
  /*HISTORIA*/
  .historia {
    display: flex;
    flex-direction: column; }
  /*CONTACTO*/
  .contacto__maps {
    display: none; }
  /*ANIMALES*/
  .topAnimales h1 {
    font-family: "Abel", sans-serif;
    color: black;
    font-size: 3.5rem;
    text-align: center; }
  .topAnimales div h2 {
    font-family: "Abel", sans-serif;
    font-size: 2rem; }
  .topAnimales div ol {
    font-size: 25px; }
  /*ANIMALES-DESTACADO*/
  .destacado h2 {
    font-family: "Abel", sans-serif;
    color: black;
    font-size: 3rem; }
    .destacado h2:hover {
      transform: scale(0); }
  .destacado__contenido {
    max-width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto; }
    .destacado__contenido__parrafo {
      width: 20rem;
      height: 20rem; }
      .destacado__contenido__parrafo p {
        font-size: 20px; }
      .destacado__contenido__parrafo .boton:hover {
        transform: scale(0); }
    .destacado__contenido__imagen img {
      width: 20rem;
      height: 20rem; }
  /*ANIMALES VIDEOS*/
  .videos__titulo {
    text-align: center; }
  .videos div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    padding: auto; }
    .videos div iframe {
      padding: 1rem;
      width: 20rem;
      height: 20rem; }
  /*GALERIA*/
  .titulo__galeria {
    font-size: 20px; }
  .contacto__introduccion__titulo h1 {
    font-family: "Abel", sans-serif;
    color: black;
    font-size: 50px; }
  .contacto__introduccion__titulo p {
    font-size: 20px; }
  .contacto__formulario {
    margin: 1rem; }
    .contacto__formulario__form .boton:hover {
      transform: scale(0); }
    .contacto__formulario__maps {
      display: none; }
  /*FOOTER*/
  .footer {
    display: flex;
    flex-direction: column; }
    .footer__container {
      max-width: 480px;
      padding: 5px;
      justify-content: center; }
    .footer__derechos {
      max-width: 480px;
      padding: 5px; } }

/*Tablet*/
@media (min-width: 541px) and (max-width: 720px) {
  /*INDEX*/
  .portada {
    display: flex;
    flex-direction: column; }
    .portada__contenido {
      flex: display;
      flex-direction: column;
      align-items: center; }
    .portada .boton:hover {
      transform: scale(1); }
  .actualidad__contenido {
    display: flex;
    flex-direction: column;
    max-width: 720px;
    margin: auto; }
    .actualidad__contenido__parrafo {
      width: 25rem;
      height: 25rem; }
      .actualidad__contenido__parrafo p {
        font-size: 25px; }
    .actualidad__contenido__imagen img {
      width: 25rem;
      height: 25rem; }
  .noticias {
    display: none; }
  /*ANIMALES*/
  .topAnimales h1 {
    font-family: "Abel", sans-serif;
    color: black;
    font-size: 50px; }
  /*ANIMALES-DESTACADO*/
  .destacado__contenido {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 720px;
    margin: 1rem;
    align-items: center; }
    .destacado__contenido__parrafo {
      width: 25rem;
      height: 25rem; }
      .destacado__contenido__parrafo p {
        font-size: 25px; }
      .destacado__contenido__parrafo .boton:hover {
        transform: scale(0); }
    .destacado__contenido__imagen img {
      width: 25rem;
      height: 25rem; }
  .videos__titulo {
    text-align: center; }
  .videos div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    padding: auto; }
    .videos div iframe {
      padding: 1rem;
      width: 25rem;
      height: 25rem; }
  .contacto__introduccion__titulo h1 {
    font-family: "Abel", sans-serif;
    color: black;
    font-size: 60px; }
  .contacto__introduccion__titulo p {
    font-size: 25px; }
  .contacto__formulario {
    margin: 1rem; }
    .contacto__formulario__form .boton:hover {
      transform: scale(0); }
    .contacto__formulario__maps {
      display: none; }
  /*FOOTER*/
  .footer__container {
    max-width: 720px;
    justify-content: center; }
  .footer__derechos {
    max-width: 720px; } }
