@import 'variables';
@import 'header';
@import 'footer';


*{
    margin: 0;
    padding: 0;
}


/*MIXIN*/

@mixin mixTitulos($color,$size){
    font-family: $font-principal;
    color: $color;
    font-size: $size;
}

@mixin mixBoton ($bg-color, $color){
    font-family: $font-principal;
    font-weight: bold;
    font-size: 24px;
    width: 150px;
    border-radius: 12px;
    background-color:$bg-color;
    color: $color;  
}

/*INDEX -PORTADA*/

.portada{
    display:flex;
    flex-direction: column;
    background-image: url(../recursos/polar_bear_and_baby-wild_animal_desktop_wallpaper_1366x768.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 37.5rem;
    &__contenido{
        display:flex;
        flex-direction: column;
        padding: 90px;
        h2{
            @include mixTitulos(rgb(53, 53, 53), 2rem);
            letter-spacing: 2px;
        }
        p{
            font-family: $font-principal;
            background-color: rgba(0, 0, 0, 0.281);
            width: 300px;
            height: 100px;
            color: $color-secundario;
        }
        .boton{
            @include mixBoton(black,white);
            &:hover{
                transform: scale(1.3);
            }
        }
    }
    &__titulo{
        @include mixTitulos(black,5.265rem);
        text-align: left;
    }
}


/*INDEX-ACTUALIDAD*/
.actualidad{
    display:flex;
    flex-direction: column;
    &__titulo{
        @include mixTitulos(grey,50px);
        text-align: center;
        letter-spacing: 24px;
    }
    &__contenido{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr ;
        grid-template: "img p";
        div{
            grid-area: p;
            align-self: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 18.75rem;
            height: 18.75rem;
            color: $color-principal;
            p{
                color: $color-secundario;
                font-family: $font-principal;
                font-size: large ;
                text-align: justify;  
            }
            .boton{
                @include mixBoton(black,white);             
                &:hover{
                    transform: scale(1.3);
                }
            }
        }
        img{
            grid-area: img;
            width: 37.5 rem;
            height: 25rem;
            padding-left: 5rem;
            padding-bottom: 5rem;
        }
    }

}


/*INDEX-NOTICIAS*/


.noticias{
    display: flex;
    flex-direction: column;
    &__titulo{
        @include mixTitulos(white,70px );
        text-align: center;
        background-color: $color-secundario;
        font-weight: bold;
        padding: 20px
    }
    &__contenido{
        display: flex;
        justify-content: space-around;
        margin: 40px;
        img{
            width: 25rem;
            height: 25rem;
            &:hover{
                transform: scale(1.3);
            }
        }
    }
}


/* ANIMALES- TOPANIMALES*/

.mainAnimales{
    background-color: rgb(172, 168, 168);
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr ;
    grid-template-areas: "top"
                        "dest"
                        "video";
}
.topAnimales{
    grid-area: top;
    display: flex;
    margin: 2rem;
    justify-content: space-around;
    &__ranking{
        display: flex;
        flex-direction: column;
        background-color:$color-secundario;
        color:$color-principal;
        align-items: center;
        h2{
            font-family: $font-principal;
            letter-spacing: 15px;
        }
        ol{
            font-family: $font-principal;
            font-size: 25px;
            text-decoration: underline;
            li{
                &:hover{
                    transform: scale(1.3);
                }
            }
        }
    }
    &__video{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem;
        h2{
            @include mixTitulos(black,2.5rem );
            font-weight:bold;
        }
        iframe{
            width: 40vw;
        height: 40vh;
        }
    }
}

/*ANIMALES-DESTACADO*/
.destacado{
    grid-area: dest;
    display: flex;
    flex-direction: column;
    h2{
        @include mixTitulos(black,40px );
        text-align: center;
        &:hover{
            transform: scale(1.5);
        } 
    }
    &__contenido{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 2rem;
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2rem;
            width: 25vw;
            height: 25vh;
                .boton{
                    @include mixBoton(black,white);  
                    &:hover{
                    transform: scale(1.3);
                    }
                }
            }
        p{
            color: $color-principal;
            font-family: $font-principal;
        }
        img{
            height: 55vh;
            width: 55vw;
        }
    }
}
.videos{
    grid-area: video;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    justify-content: space-between;
    div{
        display: flex;
        justify-content: space-around;
    }
    &__titulo{
        @include mixTitulos(black,40px);
        letter-spacing: 20px;
    }
}
/*CONTACTO*/


.contacto {
    h1{
    @include mixTitulos(black,40px);
    text-align: center;
    }
    &__formulario{ 
        form{
        @include mixTitulos(black,20px );
        letter-spacing: 10px;
        }
    }
    &__maps:hover{
        transform: scale(1.3);
    }
}


/*HISTORIA*/

.historia{
    background-color: $color-secundario;
    &__imagen1{
        background-image: url(../recursos/450_1000.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &__parrafo1{
        font-family: $font-principal;
        font-size: 20px;
        color: $color-principal;
        display: flex;
        align-items: center;
    }
    &__imagen2{
        background-image: url(../recursos/ngsf000003_190803_100592.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &__parrafo2{
        font-family: $font-principal;
        font-size: 20px;
        color: $color-principal;
        display: flex;
        align-items: center;
    }
}

/*GALERIA*/

.galeria{
    img{
        height: 600px;
    }
    &__titulo h1{
        @include mixTitulos(black,40px);
        text-align: center;
        
    }
}

/*CELULAR*/
@media (min-width: 320px) and (max-width:540px){

    .header{
        &__navegacion ul{
        display: flex;
        flex-direction: column;
        }
    }

    /*INDEX*/
    
    
    .portada{
        &__contenido{
            display: none;
        }
        &__titulo{
            font-size: 4.5rem;
        }

    }
    
    .noticias{
        display: none;
    }

    .actualidad{
        display: flex;
        flex-direction: column;
        &__contenido{
            display: flex;
            flex-direction: column;
            img{
                width: 28rem;
                height: 25rem;
                padding:1rem;
            }
        }
        &__titulo{
            font-family: $font-principal;
            text-align: center;
            font-size: 40px;
            letter-spacing: 20px;
            color: grey;
        }
    }

    /*HISTORIA*/
    .historia{
        display: flex;
        flex-direction: column;
    }

    /*CONTACTO*/
    .contacto{
        &__maps{
            display: none;
            
        }
    }

    /*ANIMALES*/
    .grid__animales{
        grid-template-columns: 1fr ;
        grid-template-areas: "top"
    }
    
    .topAnimales__video{
        display: none;
    }

    .destacado{
        display:none;
    }
    
    
    .videos{
        display: none;
    }
    .destacado h2:hover{
        transform: scale(1);
    }
    .topAnimales__ranking li:hover{
        transform: scale(1);
    }

    

    /*GALERIA*/
    .galeria{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 2fr;

        grid-template-areas: "t t"
                            "i5 i5";
    
    }


    .titulo__galeria{
        font-size: 20px;
    }

    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}

/*Tablet*/
@media (min-width: 541px) and (max-width:720px){

    /*INDEX*/
    .portada{
        display: flex;
        flex-direction: column;
        &__contenido{
            flex: display;
            flex-direction: column;
            align-items: center;
        }
        .boton{
            &:hover{
                transform: scale(1);
            }
        }
    }

        
    .actualidad{
        display: flex;
        flex-direction: column;
        &__contenido{
            img{
                text-align: center;
            }
            div{
                    display: none;
            }
        }
    }
    .noticias{
        display: none;
    }

    
    /*ANIMALES*/
    .mainAnimales{
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr ;
        grid-template-areas: "top"
                            "dest"
    }
    
    .topAnimales{
        &__video{
            display: none;
        }
        &__ranking{
            li{
                &:hover{
                    transform: scale(1);
                }
            }
        }
    }

    .destacado{
        &__contenido{
            display: flex;
            flex-direction: column;
            img{
                width: 28rem;
                height: 25rem;
                padding:2rem;
                }
            div{
                display: none;
            }
        }
        h2{
            &:hover{
                transform: scale(1);
            }  
        }    
    }

    .videos{
            display: none;
        }
}

