@import 'variables';
@import 'header';
@import 'footer';
*{
    margin: 0;
    padding: 0;
}
/*MIXIN*/
@mixin mixTitulos($color,$size){
    font-family: $font-principal;
    color: $color;
    font-size: $size;
}

@mixin mixBoton ($bg-color, $color){
    font-family: $font-principal;
    font-weight: bold;
    font-size: 24px;
    width: 150px;
    border-radius: 12px;
    background-color:$bg-color;
    color: $color;  
}
/*INDEX -PORTADA*/
.portada{
    display:flex;
    flex-direction: column;
    background-image: url(../recursos/polar_bear_and_baby-wild_animal_desktop_wallpaper_1366x768.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 37.5rem;
    &__contenido{
        display:flex;
        flex-direction: column;
        padding: 90px;
        h2{
            @include mixTitulos(rgb(53, 53, 53), 2rem);
            letter-spacing: 2px;
        }
        p{
            font-family: $font-principal;
            background-color: rgba(0, 0, 0, 0.281);
            width: 300px;
            height: 100px;
            color: $color-secundario;
        }
        .boton{
            @include mixBoton(black,white);
            &:hover{
                transform: scale(1.3);
            }
        }
    }
    &__titulo{
        @include mixTitulos(black,5.265rem);
        text-align: left;
    }
}
/*INDEX-ACTUALIDAD*/
.actualidad{
    display:flex;
    flex-direction: column;
    &__titulo{
        @include mixTitulos(grey,50px);
        text-align: center;
        letter-spacing: 24px;
    }
    &__contenido{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        max-width: 1200px;
        margin: 1rem;
        &__parrafo{
            width: 28.5rem;
            height: 28.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            p{
                color: $color-secundario;
                font-family: $font-principal;
                font-size: 30px ;
                text-align: justify;  
            }
            .boton{
                @include mixBoton(black,white);             
                &:hover{
                    transform: scale(1.3);
                }
            }
        }
        &__imagen{
            img{
                width: 28.5rem;
                height: 28.5rem;
            }
        }
    }
}
/*INDEX-NOTICIAS*/
.noticias{
    display: flex;
    flex-direction: column;
    &__titulo{
        @include mixTitulos(white,70px );
        text-align: center;
        background-color: $color-secundario;
        font-weight: bold;
        padding: 20px
    }
    &__contenido{
        display: flex;
        justify-content: space-around;
        margin: 40px;
        img{
            width: 20rem;
            height: 20rem;
            &:hover{
                transform: scale(1.3);
            }
        }
    }
}
/* ANIMALES- TOPANIMALES*/
.mainAnimales{
    background-color: rgb(205, 201, 201);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.topAnimales{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    h1{
        @include mixTitulos(black,70px );
        text-align: center;
    }
    div{
        display: flex;
        flex-direction: column;
        background-color:$color-secundario;
        color:$color-principal;
        align-items: center;
        h2{
            font-family: $font-principal;
            letter-spacing: 15px;
        }
        ol{
            font-family: $font-principal;
            font-size: 25px;
            text-decoration: underline;
            li{
                &:hover{
                    transform: scale(1.3);
                }
            }
        }
    }
}
/*ANIMALES-DESTACADO*/
.destacado{
    display: flex;
    flex-direction: column;
    h2{
        @include mixTitulos(black,50px );
        font-weight: bolder;
        text-align: center;
        &:hover{
            transform: scale(1.5);
        } 
    }
    &__contenido{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        max-width: 1200px;
        margin: 1rem;
        align-items: center;
        &__parrafo{
            display: flex;
            flex-direction: column;
            width: 28rem;
            height: 28rem;
            justify-content: center;
            align-items: center;
            p{
                color: $color-secundario;
                font-family: $font-principal;
                font-size: 25px ;
                text-align: justify;
            }
            .boton{
                @include mixBoton(black,white);             
                &:hover{
                    transform: scale(1.3);
                }
        }
        }
        &__imagen{
            img{
                width: 28rem;
                height: 28rem;
            }
        }
    }
}
.videos{
    display: flex;
    flex-direction: column;
    &__titulo{
        @include mixTitulos(black,40px);
        margin-left: 2rem;
        letter-spacing: 15px;
    }
    div{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 2rem;
    }
}
/*HISTORIA*/
.historia{
    background-color: $color-secundario;
    h1{
        font-family: $font-principal;
        color: white;
        font-size: 60px;
        text-align: center;
    }
    &__imagen1{
        background-image: url(../recursos/450_1000.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &__parrafo1{
        font-family: $font-principal;
        font-size: 20px;
        color: $color-principal;
        display: flex;
        align-items: center;
    }
    &__imagen2{
        background-image: url(../recursos/ngsf000003_190803_100592.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &__parrafo2{
        font-family: $font-principal;
        font-size: 20px;
        color: $color-principal;
        display: flex;
        align-items: center;
    }
}
/*GALERIA*/
.galeria{
    img{
        height: 600px;
    }
    &__titulo h1{
        @include mixTitulos(black,40px);
        text-align: center;    
    }
}
/*CONTACTO*/
.contacto{
    &__introduccion{
        &__titulo{
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1{
                @include mixTitulos(black,70px);
                font-weight: bolder;
                text-align: center;
            }
            p{
                font-family: $font-principal;
                color: black;
                font-size: 30px;
                text-align: center;
            }
        }
    }
    &__formulario{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__form{
            display: flex;
            flex-direction: column;
            align-items: center;
            .boton{
                @include mixBoton(black,white);             
                &:hover{
                    transform: scale(1.3);
                    }
                }
            }
        &__maps{
            margin: 20px;
        }
    }
}
/*CELULAR*/
@media (min-width: 320px) and (max-width:540px){
    /*INDEX*/
    .portada{
        background-size: contain;
        background-attachment:scroll;
        height: 30rem;
        &__contenido{
            display: none;
        }
        &__titulo{
            font-size: 3.5rem;
            text-align: center;
        }
    }
    .noticias{
        display: none;
    }
    .actualidad{
        &__contenido{
            max-width: 540px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin: auto;
            &__parrafo{
                width: 20rem;
                height: 20rem;
                p{
                    font-size: 20px ;
                }
                .boton{            
                    &:hover{
                        transform: scale(0);
                    }
                }
            }
            &__imagen{
                img{
                    width: 20rem;
                    height: 20rem;
                }
            }
        }
        &__titulo{
            font-family: $font-principal;
            text-align: center;
            font-size: 30px;
            letter-spacing: 20px;
            color: grey;
        }
    }
    /*HISTORIA*/
    .historia{
        display: flex;
        flex-direction: column;
    }
    /*CONTACTO*/
    .contacto{
        &__maps{
            display: none;
        }
    }
    /*ANIMALES*/
    .topAnimales{
        h1{
            @include mixTitulos(black,3.5rem);
            text-align: center;
        }
        div{
            h2{
                font-family: $font-principal;
                font-size: 2rem;
            }
            ol{
                font-size: 25px;
            }
        }
    }
    /*ANIMALES-DESTACADO*/
    .destacado{
        h2{
            @include mixTitulos(black,3rem);
            &:hover{
                transform: scale(0);
            } 
        }
        &__contenido{
            max-width: 540px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin: auto;
            &__parrafo{
                width: 20rem;
                height: 20rem;
                p{
                    font-size: 20px ;
                }
                .boton{            
                    &:hover{
                        transform: scale(0);
                    }
                }
            }
            &__imagen{
                img{
                    width: 20rem;
                    height: 20rem;
                }
            }
        }
    }
    /*ANIMALES VIDEOS*/
    .videos{
        &__titulo{
            text-align: center;
        }
        div{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: auto;
            padding: auto;
            iframe{
                padding: 1rem;
                width: 20rem;
                height: 20rem;
            }
        }
    }
    /*GALERIA*/
    .titulo__galeria{
        font-size: 20px;
    }
    .contacto{
        &__introduccion{
            &__titulo{
                h1{
                    @include mixTitulos(black,50px);
                }
                p{
                    font-size: 20px;
                }
            }
        }
        &__formulario{
            margin: 1rem;
            &__form{
                .boton{          
                    &:hover{
                        transform: scale(0);
                        }
                    }
                }
            &__maps{
                display: none;
            }
        }
    }
    /*FOOTER*/
    .footer{
        display: flex;
        flex-direction: column;
        &__container{
            max-width: 480px;
            padding: 5px;
            justify-content: center;
        }
        &__derechos{
            max-width: 480px;
            padding: 5px;
        }
    }
}
/*Tablet*/
@media (min-width: 541px) and (max-width:720px){
    /*INDEX*/
    .portada{
        display: flex;
        flex-direction: column;
        &__contenido{
            flex: display;
            flex-direction: column;
            align-items: center;
        }
        .boton{
            &:hover{
                transform: scale(1);
            }
        }
    }    
    .actualidad{
        &__contenido{
            display: flex;
            flex-direction: column;
            max-width: 720px;
            margin: auto;
            &__parrafo{
                width: 25rem;
                height: 25rem;
                p{
                    font-size: 25px ;
                    
                }
            }
            &__imagen{
                img{
                    width: 25rem;
                    height: 25rem;
                }
            }
        }
    }
    .noticias{
        display: none;
    }
    /*ANIMALES*/
    .topAnimales{
        h1{
            @include mixTitulos(black,50px );
        }
    }
    /*ANIMALES-DESTACADO*/
    .destacado{
        &__contenido{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            max-width: 720px;
            margin: 1rem;
            align-items: center;
            &__parrafo{
                width: 25rem;
                height: 25rem;
                p{
                    font-size: 25px ;
                }
                .boton{            
                    &:hover{
                        transform: scale(0);
                    }
                }
            }
            &__imagen{
                img{
                    width: 25rem;
                    height: 25rem;
                }
            }
        }
    }
    .videos{
        &__titulo{
            text-align: center;
        }
        div{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: auto;
            padding: auto;
            iframe{
                padding: 1rem;
                width: 25rem;
                height: 25rem;
            }
        }
    }
    .contacto{
        &__introduccion{
            &__titulo{
                h1{
                    @include mixTitulos(black,60px);
                }
                p{
                    font-size: 25px;
                }
            }
        }
        &__formulario{
            margin: 1rem;
            &__form{
                .boton{          
                    &:hover{
                        transform: scale(0);
                        }
                    }
                }
            &__maps{
                display: none;
            }
        }
    }    
    /*FOOTER*/
    .footer{
        &__container{
            max-width: 720px;
            justify-content: center;
        }
        &__derechos{
            max-width: 720px;
        }
    }
}
